SERVICE_HOST=localhost
SERVICE_PORT=8080
CONTAINER_PORT=8080
DB_HOST=localhost
DB_PORT=27017
DB_NAME=science_learning_hub
JWTAUTH_PUBLICKEY=
PROTOCOL=http
SEEDER_ACTIVE=false
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-3